<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://azwsaspnetmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>azwsaspnetmvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzWSASPNETMVC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AzWSASPNETMVC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mnljc0vifa.database.windows.net,1433;Initial Catalog=AzWSASPNETMVC_db;User ID=bg1@mnljc0vifa;Password=aofa5bgl-0" Name="Data Source=tcp:mnljc0vifa.database.windows.net,1433;Initial Catalog=AzWSASPNETMVC_db;User Id=bg1@mnljc0vifa;Password=aofa5bgl-0;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzWSASPNETMVC.Models.ApplicationDbContext, AzWSASPNETMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mnljc0vifa.database.windows.net,1433;Initial Catalog=AzWSASPNETMVC_db;User Id=bg1@mnljc0vifa;Password=aofa5bgl-0;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>